<div class="container px-4 px-lg-3 my-2">
    <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">Shop in style</h1>
        <p class="lead fw-normal text-white-50 mb-0">We buy with love!</p>
    </div>
</div>